/* CSS para las cartas de información de las plantas */

h5 {
    margin: 0;
}

.Cardcontainer {
    /* Puedes modificar el tamaño del contenedor de las cards modificando el width*/
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardPlant {
    /* Puede modificar el tamaño de las card modificando el width */
    width: 300px;

    margin: 8px 10px;
    backdrop-filter: blur(13px);
    border-radius: 12px;
    box-shadow: 0px 0px 3px rgb(105, 123, 129);
    height: 350px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.filterContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.301);
    backdrop-filter: blur(1px);
}

.cardTitle {
    font-size: 40px;
    color: rgb(252, 252, 252);
    padding-top: 100px;
}

.nombreCientifico {
    color: whitesmoke;
    font-style: italic;
}

.cardText,
.price,
.stock {
    height: 0;
    overflow: hidden;
    text-overflow: clip;
}

.btn {
    margin: 90% 12px;
    padding: 5px 15px;
    border: none;
    font-size: 16px;
    border-radius: 150px;
    cursor: pointer;
}

.view{
    background-color: rgb(0, 225, 255);
}

.price{
    color: #7cff7c;
}

.stock{
    color: rgb(205, 205, 255);
}

/* Re-ajustar tamaño cuando el puntero esté por encima */

.filterContainer:hover {
    background-color: rgba(31, 31, 31, 0.507);
    backdrop-filter: blur(3px);
    transition: all 100ms;
}

.filterContainer:hover>.cardTitle {
    font-size: 35px;
    padding-top: 12px;
    margin-bottom: 0px;
    cursor: default;
    transition: all 100ms;
}

.filterContainer:hover>.nombreCientifico {
    margin-top: 5px;
    cursor: default;
}

.filterContainer:hover>.cardText {
    height: 100px;  background: -webkit-linear-gradient(#eee, rgba(51, 51, 51, 0.11));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 12px;
    text-align: justify;
    cursor: default;
    transition: all 100ms;
}

.filterContainer:hover>.price {
    height: auto;
    cursor: default;
    transition: all 50ms;
}

.filterContainer:hover>.stock {
    height: auto;
    cursor: default;
    transition: all 50ms;
}

.filterContainer:hover > .btn{
    margin-top: 20px;
}

.btn:hover{
    box-shadow: 1px 1px 3px white;
    transition: all 100ms;
}